@font-face {
    font-family: "Merriweather";
    src: url("fonts/Merriweather/Merriweather-Regular.ttf");
}

html {
    width: 100% !important;
}
body {
    font-family: "Merriweather" !important;
    margin: 0;
    padding: 0;
}

.header_navbar {
    background-color: #e0deab;
    --bs-bg-opacity: 1;
    width: 100%;
}


.index_title {
    padding-top: 2.5em;
    margin-top: 2em;
    margin-left: 2em;
}

.index_title p {
    clear:both;
    padding: 1.5em;
    line-height: 32px;
    font-size: 32px;
    width: auto;
}

#img_apresentacao_1 {
    width: 80%;
    height: 85%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: -2px 2px 5px 3px #85685a;
}

.quebra_sessao_header {
    padding-bottom: 1em;
}
.quebra_sessao {
    padding-top: 3em;
    padding-bottom: 2em;
}

.quebra {
    padding-bottom: 1em;
}

.text_marrom {
    color: #85685a !important;
}

.text_verde_claro {
    color: #e0deab !important;
}

.logo {
    border-radius: 50%;
}


/* Estilização de cards */

.cardDepoimento {
    border-radius: 15% 15% 2% 2% !important;
    box-shadow: 0px -5px 20px -1px #c0c0c0;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 30%;
}

.containerCards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.botaoOrcamento {
    background-color: #cb8e5f !important;
    border: 1px solid #cb8e5f !important;
}

.title {
    font-size: 64px;
}

.padding-form {
    padding-bottom: 2rem;
    margin:auto;
}


/* Carousel */
.carousel_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    float: left;
    margin: auto;
    justify-content: center;
    background-color: #e0deab;
    padding: 2%;
}


.imgCarousel {
    max-width:1920px;
    max-height:500px;
    margin:auto; 
    object-fit: contain; 
}

.carousel_item, .carousel_item > img {
    width: 100%;

}

.carousel_item_content {
    width: 70%;
}

.carousel_item_title {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}