@font-face {
    font-family: "Merriweather";
    src: url("fonts/Merriweather/Merriweather-Regular.ttf");
}

html {
    width: 100% !important;
}
body {
    font-family: "Merriweather" !important;
    margin: 0;
    padding: 0;
}

.header_navbar {
    background-color: #e0deab;
    --bs-bg-opacity: 1;
    width: 100%;
}


.index_title {
    padding-top: 2.5em;
    margin-top: 2em;
    margin-left: 2em;
}

.index_title p {
    clear:both;
    padding: 1.5em;
    line-height: 32px;
    font-size: 32px;
    width: auto;
}

#img_apresentacao_1 {
    width: 80%;
    height: 85%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: -2px 2px 5px 3px #85685a;
}

.quebra_sessao_header {
    padding-bottom: 1em;
}
.quebra_sessao {
    padding-top: 3em;
    padding-bottom: 2em;
}

.quebra {
    padding-bottom: 1em;
}

.text_marrom {
    color: #85685a !important;
}

.text_verde_claro {
    color: #e0deab !important;
}

.logo {
    border-radius: 50%;
}


/* Estilização de cards */

.cardDepoimento {
    border-radius: 15% 15% 2% 2% !important;
    box-shadow: 0px -5px 20px -1px #c0c0c0;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 30%;
}

.containerCards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.botaoOrcamento {
    background-color: #cb8e5f !important;
    border: 1px solid #cb8e5f !important;
}

.title {
    font-size: 64px;
}

.padding-form {
    padding-bottom: 2rem;
    margin:auto;
}


/* Carousel */
.carousel_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    float: left;
    margin: auto;
    justify-content: center;
    background-color: #e0deab;
    padding: 2%;
}


.imgCarousel {
    max-width:1920px;
    max-height:500px;
    margin:auto; 
    object-fit: contain; 
}

.carousel_item, .carousel_item > img {
    width: 100%;

}

.carousel_item_content {
    width: 70%;
}

.carousel_item_title {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-about {
    font-size: 1.25rem !important;
    width: 80% !important;
    margin: auto;
}

.text-diferenciais {
    font-size: 1.25rem;
}

.card-subtitle {
    float: right;
}

.contact-text {
    font-size: 14px;
}


.container-contatcs > .row  > .col-3 > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.05rem;
    line-height: 0.45rem;
}

/* Diferentes dispositivos */

@media (max-width: 900px) {
    .header_navbar  .logo {
        width: 3em !important;
    }

    .logo {
        width: 5em;
    }
    .h2 {
        font-size: 18px !important;
    }

    .index_title {
        display: flex;
        flex-direction: column;
        width: 92% !important;
        padding-top: 1em !important;
    }

    #img_apresentacao_1 {
        width: 90%;
        height: 85%;
        object-fit: cover;
        border-radius: 5%;
        box-shadow: -2px 2px 5px 3px #85685a;
    }

    .text-center {
        width: 80% !important;
        margin: auto;
    }

    .text-center .h4 {
        font-size: 16px !important;
    }

    .text-about {
        font-size: 0.74em !important;
    }

    .text-decoration-underline {
        font-size: 16px !important;
        padding-top: 2em; 
    }
    
    .col-diferenciais {
        max-width: 30% !important;
    }

    .text-diferenciais  {
        font-size: 0.87rem ;
    }

    .containerCards {
        flex-flow: row wrap;
    }

    .card {
        gap: 1em;
        width: 10rem !important;
        height: auto;
        float: left;
        box-sizing: border-box;
    }

    .card-title {
        font-size: 14px !important;
        font-weight: 900;
    }

    .card-text {
        font-size: 11px;
        font-weight: 400;
    }

    .card-subtitle {
        font-size: 10px !important;
    }

    .align-self-center > .h4 {
        font-size: 0.75rem;
    }

    .container-contatcs > .row {
        display: flex;
        justify-content: space-between;
    }

    .container-contatcs > .row  > .col-3{
        width: 33%;
    }

    .contact-text {
        font-size: 0.55rem;
        text-align: center;
    }

    .carousel_item_title > h2 {
        font-size: calc(.83rem + .7vw);
    }
}